@tailwind base;
@tailwind components;
@tailwind utilities;

/* ÖĞRENCİ PANELİ: ÖZEL KIRMIZI VE İNCE SCROLLBAR */
/* Chrome, Safari ve Edge için */
.custom-scroll::-webkit-scrollbar {
  width: 5px !important; /* İnce olması için 5px */
  display: block !important;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(244, 63, 94, 0.05) !important; /* Çok hafif pembe zemin */
  border-radius: 10px !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9f1239 !important; /* Rose-900 (Koyu Kırmızı) */
  border-radius: 20px !important;
  border: 1px solid transparent !important;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #e11d48 !important; /* Rose-600 (Canlı Kırmızı) */
}

/* Firefox için */
.custom-scroll {
  scrollbar-width: thin !important;
  scrollbar-color: #9f1239 transparent !important;
}